
main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 72px;
    flex-grow: 1;
}

.info {
    display: flex;
    justify-content: center;
}

/* информация о профиле */
.main-info {
    text-align: center;
    gap: 10px;
    max-width: 362px;
    margin: 0;
}

.main-info__profile-photo {
    border-radius: 16px;
    object-fit: cover;
}

.main-info__profile-name {
    font-size: 2rem;
    margin-top: 20px;
    font-weight: 500;
    height: 32px;
    vertical-align: middle;
}

.main-info__profile-about-me {
    margin-top: -12px;
}

.main-info__profile-posts-count {
    display: inline-flex;
    justify-content: center;
    gap: 10px;
    text-align: center;
    vertical-align: middle;
    background-color: #eff2f9;
    align-items: center;
    border-radius: 6px;
    padding-top: 6px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 6px;    
}

/* сетка публикаций */
.gallery {
    display: flex;
    justify-content: center;
    margin-top: 42px;
    margin-bottom: 100px;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4px;
}

.gallery-grid__gallery-item {
    display: block;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    overflow: hidden;
}